{% extends 'Layout/base.html %}

{% block content %}

    {% if products %}
    <div class="row">
        {% for p in products %}
        <div class="col-md-3 col-sm-12">
            <div class="card">
                <img alt="p.name" class="card-img-top" src="{{ p.image }}">
                <div class="card-body">
                    <h4 class="card-title">{{ p.name }}</h4>
                    <p class="card-text">{{ "{:,.0f}".format(p.price) }} VNĐ</p>
                    <a class="btn btn-primary" href="/products/{{ p.id }}">Xem chi tiết</a>
                    <a href="javascript:;" onclick="add2Cart( {{p.id}}, '{{p.name}}', {{p.price}} )" class="btn btn-danger">Đặt hàng</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p class="text-danger">Ko có sp nào</p>
    {% endif %}
{% endblock %}